[submodule "src/courier"]
	path = src/courier
	url = git@github.com:nyaruka/courier.git
[submodule "src/mailroom"]
	path = src/mailroom
	url = git@github.com:nyaruka/mailroom.git
[submodule "src/rp-indexer"]
	path = src/rp-indexer
	url = git@github.com:nyaruka/rp-indexer.git
[submodule "src/rapidpro"]
	path = src/rapidpro
	url = git@github.com:nyaruka/rapidpro.git
[submodule "src/rapidpro-apps"]
	path = src/rapidpro-apps
	url = git@github.com:Ilhasoft/rapidpro-apps.git
[submodule "src/protos"]
	path = src/protos
	url = git@github.com:Ilhasoft/weni-protobuffers.git
[submodule "src/weni-rp-templates"]
	path = src/weni-rp-templates
	url = git@github.com:Ilhasoft/weni-rp-templates.git
[submodule "src/push-branding"]
	path = src/push-branding
	url = git@github.com:push-platform/push-branding.git
[submodule "src/rp-archiver"]
	path = src/rp-archiver
	url = git@github.com:nyaruka/rp-archiver.git
